html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body,
body * {
	font-family: "Inter", sans-serif;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}

body {
	overflow-x: hidden;
}
//vars
$primary-25: #F5FAFF;
$primary-200: #B1CCFB;
$primary-500: #5390F8;
$primary-600: #437ef7;
$primary-900: #2B63D9;

$grey-50: #5f6d7e;
$grey-100: #49556D;
$grey-200: #F9F9F9;
$grey-300: #2e3545;
$grey-400: #333B48;
$grey-600: #2C3444;
$grey-700: #272d37;
$grey-800: #252D3C;
$grey-900: #1C2534;
$grey-950: #151B28;

$neutral-100: #F8F9FB;
$neutral-200: #F9F9F9;
$neutral-700: #DAE0E6;
$neutral-600: #EAEBF0;
$neutral-800: #A5ACBA;

$warning-500:#FFAE43;

@mixin font($size, $weight, $line-height) {
	font-size: $size;
	font-weight: $weight;
	line-height: $line-height;
}

h1 {
	@include font(52px, 700, 60px);
}

h2 {
	@include font(32px, 700, 40px);
	color: $grey-700;
}

h3 {
	@include font(22px, 600, 30px);
	color: $grey-700;
}

h4{
	
	@include font(28x, 600, 38px);
	color: $grey-700;
}

h5{
	
	@include font(20x, 400, 28px);
	color: $neutral-800;
}

h6{
	
	@include font(18px, 500, 28px);
}

p {
	@include font(16px, 400, 24px);
	color: $grey-50;
}

@media  (max-width: 767px) {
	h1 {
		@include font(36px, 600, 44px);
	}
	
	h2 {
		@include font(24px, 700, 36x);
		color: $grey-700;
	}
	
	h3 {
		@include font(20px, 600, 28px);
		color: $grey-700;
	}
	
	h4{
		
		@include font(28x, 600, 38px);
		color: $grey-700;
	}
	
	p {
		@include font(16px, 400, 24px);
		color: $grey-50;
	}
  }


button,.button {
	@include font(15px, 600, 22px);
	padding: 12px 18px;
	border-radius: 6px;
	border: none;
}

.button--blue {
	background-color: $primary-600;
	color: white;
}

.button--grey {
	background-color: $grey-300;
	color: white;
}

.button--transparent {
	background-color: transparent;
	color: $primary-600;
}


.button--white{
	background-color: white;
	color: $primary-600;
}

hr{
	color: $grey-300;
}